# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml

# Android signing credentials
android/key.properties
android/app/*.jks
android/app/*.keystore
