# Flutter/Dart
.dart_tool/
.packages
build/
*.g.dart
*.freezed.dart
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
